.vs/
Assets/Scenes
Assets/*.meta
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vsconfig
*.csproj
*.sln
Assets/Scripts/*.meta
Assets/Scripts/*.asset
Assets/Sprites
.vscode/
**/TextMesh Pro/
Assets/Tiles